body{
  background-color: #e9ebee;
}

.login-row{
  text-align: center;
}

.albums-grid .card-image{
  height: 300px;
}

.albums-grid .card-image img{
  height: 100%;
  object-fit: cover;
}

.photos-grid .card-image{
  height: 300px;
}

.photos-grid .card-image img{
  height: 100%;
  object-fit: cover;
}

.pagination li.active{
  background-color: #283593;
}

.photos-pagination{
  margin-top: 100px;
}

.material-placeholder{
  height: 100%;
}
