<h1>ALBUMS</h1>


<div class="albums-grid">
  <div class="row" ng-repeat="row in albumRows">
    <div class="col s6 m6" ng-repeat="album in row" ng-if="album.photos">
      <div class="card hoverable">
        <div class="card-image">
          <img src="{{album.photos.data[0].images[0].source}}">
          <span class="card-title">{{album.name}} ({{album.count}})</span>
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content" ng-if="album.description">
          <p>{{album.description}}</p>
        </div>
        <div class="card-action center">
          <a ng-href="photos/{{album.id}}">Browse</a>
        </div>
      </div>
    </div>
  </div>
</div>
