<h1 class="center-align">Welcome to Facebook Photo Exporter</h1>
<div class="row login-row">
  <div class="col s12">
      <!-- <a href="/auth/facebook" class="btn btn-large waves-effect waves-light indigo darken-3 hoverable">
      <i class="fa fa-facebook left" aria-hidden="true"></i> 
        login With Facebook
      </a> -->
      <button ng-click="FbLogin()" class="btn btn-large waves-effect waves-light indigo darken-3 hoverable">
      <i class="fa fa-facebook left" aria-hidden="true"></i> 
        login With Facebook
      </button>
  </div>
  
</div>
